<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Formularz rejestracyjny na studia</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<h1 class="title">Formularz rejestracyjny na studia</h1>
	<div align="center">

		<fieldset>
			<legend>Zapisy na studia PAW</legend>
			<h:form>
				<h:panelGrid columns="3" styleClass="formTable">
			Imię:
			<h:inputText value="#{studentManagedBean.name}" required="true"
						requiredMessage="Nie podałeś imienia" id="name" />
					<h:message for="name" />
						
			Nazwisko:
			<h:inputText value="#{studentManagedBean.surname}" required="true"
						requiredMessage="Nie podałeś nazwiska" id="surname" />
					<h:message for="surname" />
						
			Data urodzenia:
			<h:inputText value="#{studentManagedBean.birthdate}" required="true"
						requiredMessage="Nie podałeś daty urodzenia." id="birthdate" 
						validatorMessage="Data urodzenia powinna mieć format YYYY-MM-DD">
						<f:validateRegex pattern="(^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$)" />
						</h:inputText>
					<h:message for="birthdate" />
						
			Ukończona szkoła średnia:
					<h:inputTextarea value="#{studentManagedBean.finishedSchools}"
						required="true"
						requiredMessage="Nie podałeś nazwy ukończonej szkoły średniej."
						id="finishedSchool" />
					<h:message for="finishedSchool" />
				</h:panelGrid>
				<h:commandButton value="Zapisz się!"
					action="#{studentManagedBean.add}" />

			</h:form>
		</fieldset>
	</div>
</h:body>
</html>