<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Formularz rejestracyjny na studia</title>
	<link href="./css/styles.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	<h1 class="title">Formularz rejestracyjny na studia</h1>
	<div align="center">
	Dziękujemy Twoje zgłoszenie zostało przyjęte.
	</div>

</h:body></html>